{
    "model_name": "Qwen2.5-1.5B",
    "system_prompt": "你的名字叫lisa，你是一个智能助手。",
    
    "template_filename_axmodel": "qwen2_p128_l%d_together.axmodel",
    "filename_post_axmodel": "qwen2_post.axmodel",
    "url_tokenizer_model": "http://127.0.0.1:12345",
    "filename_tokens_embed": "model.embed_tokens.weight.bfloat16.bin",
    "post_config_path": "post_config.json",
    
    "axmodel_num": 28,
    "tokens_embed_num": 151936,
    "tokens_embed_size": 1536,
    
    "b_use_mmap_load_embed": true,
    "b_use_mmap_load_layer": true,
    
    "port": 8080
}
